p {
    margin: 0;
}

.mainWrapper {
    width: 100%;
    minHeight: '100vh';
    padding: 20px;
}

.orderCardWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 280px;
    height: 480px;
    background: #FBFBFB;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    padding: 16px;
}

.orderCardHeader {
    display: flex;
    width: 100%;
}

.timeBox {
    margin-left: auto;
}

.product {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.main {
    font-size: 30px;
    text-align: center;
}

.divider {
    height: 1px;
    background: #9F9FA8;
    border-radius: 8px;
    width: 100%;
}

.expediteItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer{
    display: flex;
    gap: 10px;
}